<section class="profile-v2-container">
    <header class="header">
        <div class="left-section">
            <h1>Portfolio
                <span (click)="openMenu()">
                    <fa-icon *ngIf="!showMenu" [icon]="faBars"></fa-icon>
                    <fa-icon *ngIf="showMenu" [icon]="faTimes"></fa-icon>
                </span>
            </h1>
            <div class="theme-switch-wrapper">
                <fa-icon [icon]="faSun"></fa-icon>
                <mat-slide-toggle (change)="onThemeChange($event)"></mat-slide-toggle>
                <fa-icon [icon]="faMoon"></fa-icon>
            </div>
        </div>
        <nav id="nav" [ngClass]="showMenu?'show-menu':'hide-menu'">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#academicDetails">Academic details</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
            </ul>
        </nav>
    </header>
    <section id="home" class="home-section">
        <div class="container">
            <div class="row">
                <div class="name">
                    <h1>Hi! I'M Selvakumar</h1>
                    <h2>Full stack developer</h2>
                    <p>Dedicated and quick-learning full stack developer with extensive experience in developing web
                        applications using .NET and front-end technologies react, angular. Having 6 years overall
                        experience in IT industry.</p>
                </div>
                <div class="picture">
                    <img src="./assets/images/ProfilePic.png" alt="profile-pic">
                </div>
            </div>
        </div>
    </section>
    <section id="academicDetails" class="academic-details">
        <div class="container">
            <div class="title">
                <h1>Academic</h1>
            </div>
            <div class="row">
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faSchool"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>Mount Saint Joseph Matriculation Higher Secondary School</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Trivannamalai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2009 - 2010
                        </p>
                        <p>
                            <fa-icon [icon]="faPercentage"></fa-icon> 84.4
                        </p>
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faSchool"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>Sri Vidhya Mandir Matriculation Higher Secondary School</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Uthangarai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2010 - 2011
                        </p>
                        <p>
                            <fa-icon [icon]="faPercentage"></fa-icon> 95.75
                        </p>
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faGraduationCap"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>SRM Valliammai Engineering college</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Chennai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2011 - 2015
                        </p>
                        <p>
                            <fa-icon [icon]="faPercentage"></fa-icon> 76.4
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="experience" class="experience-details">
        <div class="container">
            <div class="title">
                <h1>Experience</h1>
            </div>
            <div class="row">
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faBuilding"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>Senior Software Analyst</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faBuilding"></fa-icon> Agilysys, Chennai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> November 2019 - Present
                        </p>
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faBuilding"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>Associate – Projects</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faBuilding"></fa-icon> Cognizant Technology Solutions
                            , Chennai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> August 2018 – November 2019
                        </p>
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faBuilding"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>System Engineer</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faBuilding"></fa-icon> TATA Consultancy Services, Chennai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> June 2015 – August 2018
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="projects" class="projects">
        <div class="container">
            <div class="title">
                <h1>Projects</h1>
            </div>
            <div class="row">
                <ng-container *ngFor="let project of projects">
                    <div class="card-container" [ngClass]="project.applyAnimationForProjectCard?'zoom-in':'zoom-out'">
                        <div class="card-title" [ngClass]="project.applyAnimationForProjectCard?'zoom-in':'zoom-out'">
                            <h3>{{project.title}}</h3>
                            <fa-icon *ngIf="!project.applyAnimationForProjectCard" [icon]="faExpandAlt" (click)="projectExpandClick(project.title)"></fa-icon>
                            <fa-icon *ngIf="project.applyAnimationForProjectCard" [icon]="faCompressAlt" (click)="projectExpandClick(project.title)"></fa-icon>
                        </div>
                        <div class="card-body" [ngClass]="project.applyAnimationForProjectCard?'zoom-in':'zoom-out'">
                            <div class="technologies">
                                <ul>
                                    <li *ngFor="let technology of project.technologies">
                                        <fa-icon [ngClass]="project.applyAnimationForProjectCard?'zoom-in':'zoom-out'" [icon]="faAngleRight"></fa-icon>{{technology}}
                                    </li>
                                </ul>
                            </div>
                            <div class="content">
                                <p>{{project.content}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
    <section id="skills" class="skills">
        <div class="container">
            <div class="title">
                <h1>Skills</h1>
            </div>
            <div class="row">
                <div class="square">
                    <div class="skill-circle">
                        C#
                    </div>
                    <div class="skill-circle">
                        MVC
                    </div>
                    <div class="skill-circle">
                        EF
                    </div>
                </div>
                <div class="square">
                    <div class="skill-circle">
                        .net core
                    </div>
                    <div class="skill-circle">
                        SQL
                    </div>
                    <div class="skill-circle">
                        CSS
                    </div>
                </div>
                <div class="square">
                    <div class="skill-circle">
                        react js
                    </div>
                    <div class="skill-circle">
                        angular
                    </div>
                    <div class="skill-circle">
                        LINQ
                    </div>
                </div>
                <div class="square">
                    <div class="skill-circle">
                        Bootstrap
                    </div>
                    <div class="skill-circle">
                        jQuery
                    </div>
                    <div class="skill-circle">
                        js
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>