@keyframes zoom {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.profile-v2-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 84vh 120vh 120vh 285vh 150vh;
    background-color: #26292e;

    & .header {
        border-bottom: 1px solid #2f363e;
        z-index: 99;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #2f363e;

        & > div > h1 {
            margin: 10px 0 10px 10px;
            color: #fff;

            & > span {
                float: right;
                margin-right: 8px;
            }
        } 

        & >nav {
            & > ul {
                justify-items: center;
                list-style: none;
                padding-left: 20px;
    
                & > li {
                    padding: 8px;
                    & > a {
                        text-transform: uppercase;
                        font-size: .8571em;
                        text-decoration: none;
                        color: #fff;
                    }
                }
               
            }

            &.show-menu {
                display: block;
            }
    
            &.hide-menu {
                display: none;
            }
        }

        
    }

    & .home-section {
        & .container {
            max-width: 1270px;
            margin: auto;

            & .row {
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & .name {
                    width: 100%;
                   & h1 {
                        font-size: 50px;
                        color: #a3f7bf;
                        position: relative;
                        margin-bottom: 0;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 86%;
                            height: 2px;
                            background-color: #fff;
                            bottom: 4px;
                        }
                    }
                    
                    & h2 {
                        font-size: 24px;
                        font-weight: 300;
                        color: #ff7844;
                        margin: 0 24px;
                    }

                    & p {
                        font-size: 20px;
                        color: #fff;
                    }
                }

                & .picture {
                    padding: 60px 0 0 64px;
                    & img {
                        width: 60%;
                        animation: zoom 7s linear infinite;
                    }
                }
            }
        }
    }

    & .academic-details {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;
            & .title {
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: #fff;
                }
            }

            & .row {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 20px;
                & .card-container {
                    overflow: hidden;
                    position: relative;
                    max-width: 18em;
                    min-height: 12em;
                    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
                    border-radius: 4px;
                    margin-left: 48px;
            
                    &:before {
                        position: absolute;
                        margin: -2em;
                        padding: 2.25em;
                        border-radius: 50%;
                        box-shadow: 0 0 0 302px #2f363e;
                        content: ''
                    }

                    & .card-title {
                        position: absolute;
                        color: #fff;
                        left: 54px;
                        font-size: 16px;
                    }

                    & .card-body {
                        position: absolute;
                        color: #fff;
                        top: 64px;
                        left: 90px;
                        margin-top: 20px;

                        & p {
                            font-size: 16px;
                        }
                    }
            
                    & .card-circle {
                        background-color: #ff784499;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        position: absolute;
                    }
                }
            }
        }
    }

    & .experience-details {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;
            & .title {
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: #fff;
                }
            }

            & .row {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 20px;
                & .card-container {
                    overflow: hidden;
                    position: relative;
                    max-width: 18em;
                    min-height: 12em;
                    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
                    border-radius: 4px;
                    margin-left: 48px;
            
                    &:before {
                        position: absolute;
                        margin: -2em;
                        padding: 2.25em;
                        border-radius: 50%;
                        box-shadow: 0 0 0 302px #2f363e;
                        content: ''
                    }

                    & .card-title {
                        position: absolute;
                        color: #fff;
                        left: 54px;
                        font-size: 16px;
                    }

                    & .card-body {
                        position: absolute;
                        color: #fff;
                        top: 42px;
                        left: 18px;
                        margin-top: 20px;

                        & p {
                            font-size: 16px;
                        }
                    }
            
                    & .card-circle {
                        background-color: #ff784499;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        position: absolute;
                    }
                }
            }
        }
    }

    & .projects {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;
            & .title {
                margin-bottom: 50px;
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: #fff;
                }
            }
            & .row { 
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 14px;

                & .card-container {
                    max-width: 20em;
                    min-height: 12em;
                    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
                    border-radius: 4px;
                    margin-left: 34px;
                    background-color: #2f363e;

                    &.zoom-in {
                        transform: scale(1.1,1.1);
                        transition-duration: 3s;
                        background-color: #ff784499;
                    }

                    &.zoom-out {
                        transform: scale(1,1);
                        transition-duration: 3s;
                        background-color: #2f363e;
                    }

                    & .card-title {
                        color: #fff;
                        font-size: 16px;
                        padding: 20px 20px 0;
                        display: flex;
                        justify-content: space-between;

                        & h3 {
                            margin: 0;
                        }

                        & fa-icon {
                            cursor: pointer;
                        }
                    }

                    & .card-body {
                        color: #fff;
                        & .technologies {
                            & ul {
                                list-style: none;
    
                                & fa-icon {
                                    padding-right: 4px;
                                }
                            }
                        }
                        & .content {
                            padding: 0 10px 0 10px;
                            height: 100px;
                            overflow-y: auto;
                        }
                    }
                }

            }
        }
    }

    & .skills {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;

            & .title {
                margin-bottom: 50px;
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: #fff;
                }
            }

            & .row {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 94px;

                & .square {
                    height: 120px;
                    width: 120px;
                    position: relative;
                    // animation: spin 30s linear infinite;
                    margin-left: 130px;

                    & .skill-circle {
                        position: absolute;
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #fff;

                        &:nth-child(1){
                            background-color: #978d58;
                            left: -40px;
                        }

                        &:nth-child(2){
                            background-color: #ff7844;
                            right: -40px;
                        }

                        &:nth-child(3){
                            background-color: #e41f7b;
                            bottom: -40px;
                            left: 34px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px) { 
    .profile-v2-container { 
        grid-template-rows: 84vh 60vh 60vh 110vh 90vh;

        & .header {
            display: flex;
            justify-content: space-evenly;

            & > div > h1 {
                margin: 10px 0;
                color: #fff;

                & > span {
                    display: none;
                }
            }    
            & >nav {
                display: block;

                & > ul {
                    display: grid;
                    grid-template-columns: repeat(5,2fr);
                }
            }
        }

        & .home-section { 
            & .container {
                & .row {
                    padding: 170px 0;
                    display: flex;
    
                    & .name {
                        width: 40%;
                       & h1 {
                            font-size: 50px;
                            color: #a3f7bf;
                            position: relative;
                            margin-bottom: 0;
    
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                width: 86%;
                                height: 2px;
                                background-color: #fff;
                                bottom: 4px;
                            }
                        }
                        
                        & h2 {
                            font-size: 24px;
                            font-weight: 300;
                            color: #ff7844;
                            margin: 0 72px;
                        }
                    }
    
                    & .picture {
                        & img {
                            animation: zoom 7s linear infinite;
                        }
                    }
                }
            }
        }

        & .academic-details {
            & .container {
                & .title {
                    margin: 50px;
                }
                & .row {
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    & .card-container {
                        max-width: 24em;
                        min-height: 14em;
                        box-shadow: 0 0 15px rgb(0 0 0 / 20%);
                
                        &:before {
                            box-shadow: 0 0 0 432px #2f363e;
                        }
    
                        & .card-body {
                            left: 140px;
                        }
                    }
                }
            }
        }

        & .experience-details {
            & .container {
                & .row {
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 20px;

                    & .card-container {
                        max-width: 24em;
                        min-height: 14em;
                        box-shadow: 0 0 15px rgb(0 0 0 / 20%);
                
                        &:before {
                            box-shadow: 0 0 0 432px #2f363e;
                        }
    
                        & .card-body {
                            left: 60px;
                        }
                    }
                }
            }
        }

        & .projects {
            & .container {
                & .row { 
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
    
                    & .card-container {
                        max-width: 24em;
                    }
    
                }
            }
        }

        & .skills {
            & .container {
                & .title {
                    margin: 84px;
                }

                & .row {
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 90px;
    
                    & .square {
                        margin-left: 125px;
                    }
                }
            }
        }
    }
}