<section class="profile-v2-container">
    <header class="header">
        <div>
            <h1>Portfolio</h1>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#academicDetails">Academic details</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
            </ul>
        </nav>
    </header>
    <section id="home" class="home-section">
        <div class="container">
            <div class="row">
                <div class="name">
                    <h1>Hi! I'M Selvakumar</h1>
                    <h2>Full stack developer</h2>
                </div>
                <div class="picture">
                    <img src="./assets/images/ProfilePic.png" alt="profile-pic">
                </div>
            </div>
        </div>
    </section>
    <section id="academicDetails" class="academic-details">
        <div class="container">
            <div class="title">
                <h1>Academic Details</h1>
            </div>
            <div class="row">
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faSchool"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>Mount Saint Joseph Matriculation Higher Secondary School</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Trivannamalai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2009 - 2010
                        </p>
                        <p>
                            <fa-icon [icon]="faPercentage"></fa-icon> 84.4
                        </p>
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faSchool"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>Sri Vidhya Mandir Matriculation Higher Secondary School</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Uthangarai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2010 - 2011
                        </p>
                        <p>
                            <fa-icon [icon]="faPercentage"></fa-icon> 95.75
                        </p>
                    </div>
                </div>
                <div class="card-container">
                    <span class="card-circle">
                        <fa-icon [icon]="faGraduationCap"></fa-icon>
                    </span>
                    <div class="card-title">
                        <h3>SRM Valliammai Engineering college</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Chennai
                        </p>
                        <p>
                            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2011 - 2015
                        </p>
                        <p>
                            <fa-icon [icon]="faPercentage"></fa-icon> 76.4
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="projects" class="projects">
        <div class="container">
            <div class="title">
                <h1>Projects</h1>
            </div>
            <div class="row">
                <div class="card-container">
                    <div class="card-title">
                        <h3>Commercial Agent Front End</h3>
                    </div>
                    <div class="card-body">
                        <div class="technologies">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>React Js
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>Dotnet Core
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>My part is to develop, enhance and do modifications in frontend using React Js & backend
                                webapi in .net core.</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-title">
                        <h3>Merchant Wallet Interface</h3>
                    </div>
                    <div class="card-body">
                        <div class="technologies">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>ASP.NET - MVC
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>SQL Server
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>My role involves developing web api services (ASP.NET - MVC) and creating tables, stored
                                procedures (SQL Server)</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-title">
                        <h3>CBD Refunds</h3>
                    </div>
                    <div class="card-body">
                        <div class="technologies">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>ASP.NET
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>CSS
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>Bootstrap
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>jQuery
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>My role is developing web API service methods, also responsible for designing UI using
                                aspx pages with CSS, Bootstrap, jQuery and integration.</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-title">
                        <h3>Cash Online Virtual Wallet</h3>
                    </div>
                    <div class="card-body">
                        <div class="technologies">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>ASP.NET - MVC
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>CSS
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>Bootstrap
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>jQuery
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>SQL Server
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>I am responsible for developing web API service methods and to be consumed in client
                                side. Developed client side (front-end) in ASP.Net MVC and UI designing CSS, Bootstrap,
                                jQuery and integration.</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-title">
                        <h3>Merchant Wallet Back office</h3>
                    </div>
                    <div class="card-body">
                        <div class="technologies">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>ASP.NET - MVC
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>CSS
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>Bootstrap
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>jQuery
                                </li>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>SQL Server
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>My work involved consuming service and integrating the data with UI, designing UI and
                                dealing with SP (Stored Proc) in SQL.</p>
                        </div>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card-title">
                        <h3>ISRM Qualys</h3>
                    </div>
                    <div class="card-body">
                        <div class="technologies">
                            <ul>
                                <li>
                                    <fa-icon [icon]="faAngleRight"></fa-icon>ASP.NET - MVC
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>Accountable for enhancements, bug fixes and testing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="skills">
        <div class="container">
            <div class="title">
                <h1>Skills</h1>
            </div>
            <div class="row">
                <div class="square">
                    <div class="skill-circle">
                        C#
                    </div>
                    <div class="skill-circle">
                        MVC
                    </div>
                    <div class="skill-circle">
                        EF
                    </div>
                </div>
                <div class="square">
                    <div class="skill-circle">
                        .net core
                    </div>
                    <div class="skill-circle">
                        SQL
                    </div>
                    <div class="skill-circle">
                        CSS
                    </div>
                </div>
                <div class="square">
                    <div class="skill-circle">
                        react js
                    </div>
                    <div class="skill-circle">
                        angular
                    </div>
                    <div class="skill-circle">
                        LINQ
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>