[data-theme="light"] {
    --scrollbar-thumb-color : #00acac;

    --header-color: #fff;
    --background-color:#dee2e6;
    --header-title-color:#00acac;
    --nav-content-color:#00acac;
    --header-bottom-border-color:#fff;
    --header-sun-icon-color:#f28c38;
    --header-moon-icon-color:#656355;

    --home-name-header-color:#00acac;
    --home-name-underline-color:#2d353c;
    --home-name-subscript-color:#627884;
    --home-content-color:#2d353c;

    --academic-title-color:#00acac;
    --academic-card-container-box-shadow-1-color:rgb(255 255 255 / 20%);
    --academic-card-container-box-shadow-2-color:#fff;
    --academic-card-circle-bg-color:#00acac;
    --academic-card-title-color:#627884;
    --academic-card-content-color:#627884;
    --academic-card-content-icon-color:#00acac;

    --experience-title-color:#00acac;
    --experience-card-container-box-shadow-1-color:rgb(255 255 255 / 20%);
    --experience-card-container-box-shadow-2-color:#fff;
    --experience-card-circle-bg-color:#00acac;
    --experience-card-title-color:#627884;
    --experience-card-content-color:#627884;
    --experience-card-content-icon-color:#00acac;

    --project-title-color:#00acac;
    --project-card-title-color:#627884;
    --project-card-content-color:#627884;
    --project-card-container-bg-color:#fff;
    --project-card-expand-collapse-icon-color:#00acac;

    --project-card-zoomin-bg-color:#00acac4a;
    --project-card-zoomin-title-color:#fff;
    --project-card-zoomin-content-color:#fff;
    --project-card-zoomin-expand-collapse-icon-color:#fff;

    --skills-title-color:#00acac;
    --skills-first-child-color:#00acac;
    --skills-second-child-color:#f28c38;
    --skills-third-child-color:#656355ad;
}

[data-theme="dark"] {
    --scrollbar-thumb-color : #ff784499;

    --header-color: #2f363e;
    --background-color:#26292e;
    --header-title-color:#fff;
    --nav-content-color:#fff;
    --header-bottom-border-color:#2f363e;
    --header-sun-icon-color:#627884;
    --header-moon-icon-color:#fff;
    --header-theme-toggle-bg-color:#ffffff54;
    --header-theme-thumb-color:#fff;

    --home-name-header-color:#a3f7bf;
    --home-name-underline-color:#2d353c;
    --home-name-subscript-color:#ff7844;
    --home-content-color:#fff;

    --academic-title-color:#fff;
    --academic-card-container-box-shadow-1-color:rgb(0 0 0 / 20%);
    --academic-card-container-box-shadow-2-color:#2f363e;
    --academic-card-circle-bg-color:#ff784499;
    --academic-card-title-color:#fff;
    --academic-card-content-color:#fff;
    --academic-card-content-icon-color:#fff;

    --experience-title-color:#fff;
    --experience-card-container-box-shadow-1-color:rgb(0 0 0 / 20%);
    --experience-card-container-box-shadow-2-color:#2f363e;
    --experience-card-circle-bg-color:#ff784499;
    --experience-card-title-color:#fff;
    --experience-card-content-color:#fff;
    --experience-card-content-icon-color:#fff;

    --project-title-color:#fff;
    --project-card-title-color:#fff;
    --project-card-content-color:#fff;
    --project-card-container-bg-color:#2f363e;
    --project-card-expand-collapse-icon-color:#fff;

    --project-card-zoomin-bg-color:#ff784499;
    --project-card-zoomin-title-color:#fff;
    --project-card-zoomin-content-color:#fff;
    --project-card-zoomin-expand-collapse-icon-color:#fff;

    --skills-title-color:#fff;
    --skills-first-child-color:#978d58;
    --skills-second-child-color:#ff7844;
    --skills-third-child-color:#e41f7b;
}


@keyframes zoom {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

 /* width */
 ::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color); 
    border-radius: 10px;
}

// 300*560 - start
.profile-v2-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110vh 144vh 144vh 380vh 185vh;
    background-color: var(--background-color);

    & .header {
        border-bottom: 1px solid var(--header-bottom-border-color);
        z-index: 99;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--header-color);
        

        & > .left-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > h1 {
                margin: 10px 0 10px 10px;
                color: var(--header-title-color);
    
                & > span {
                    float: left;
                    margin-right: 8px;
                }
            } 
        }

        & .theme-switch-wrapper {
            margin-right: 4px;
            & fa-icon {
                & [data-icon="sun"] {
                    font-size: 24px;
                    color: var(--header-sun-icon-color);
                }
                & [data-icon="moon"] {
                    font-size: 20px;
                    color: var(--header-moon-icon-color);
                }
            }

            & .mat-slide-toggle {
                margin: 0 6px;
                &.mat-checked {
                    & .mat-slide-toggle-bar {
                        background-color: var(--header-theme-toggle-bg-color);
                    }
                    & .mat-slide-toggle-thumb {
                        background-color: var(--header-theme-thumb-color);
                    }
                } 
            }
        }

        & >nav {
            & > ul {
                justify-items: center;
                list-style: none;
                padding-left: 20px;
    
                & > li {
                    padding: 8px;
                    & > a {
                        text-transform: uppercase;
                        font-size: .8571em;
                        text-decoration: none;
                        color: var(--nav-content-color);
                    }
                }
               
            }

            height: 0px;
            transition: all 2s;
            overflow: hidden;

            &.show-menu {
                height: 185px;
                transition: all 2s;
            }
        }

        
    }

    & .home-section {
        & .container {
            max-width: 1270px;
            margin: auto;

            & .row {
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                & .name {
                    width: 100%;
                   & h1 {
                        font-size: 50px;
                        color: var(--home-name-header-color);
                        position: relative;
                        margin-bottom: 0;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 86%;
                            height: 2px;
                            background-color: var(--home-name-underline-color);
                            bottom: 4px;
                        }
                    }
                    
                    & h2 {
                        font-size: 24px;
                        font-weight: 300;
                        color: var(--home-name-subscript-color);
                        margin: 0 24px;
                    }

                    & p {
                        font-size: 20px;
                        color: var(--home-content-color);
                    }
                }

                & .picture {
                    padding: 60px 0 0 84px;
                    & img {
                        width: 60%;
                        animation: zoom 7s linear infinite;
                    }
                }
            }
        }
    }

    & .academic-details {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;
            & .title {
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: var(--academic-title-color);
                }
            }

            & .row {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 20px;
                & .card-container {
                    overflow: hidden;
                    position: relative;
                    max-width: 18em;
                    min-height: 12em;
                    box-shadow: 0 0 15px var(--academic-card-container-box-shadow-1-color);
                    border-radius: 4px;
                    margin-left: 18px;
            
                    &:before {
                        position: absolute;
                        margin: -2em;
                        padding: 2.25em;
                        border-radius: 50%;
                        box-shadow: 0 0 0 302px var(--academic-card-container-box-shadow-2-color);
                        content: ''
                    }

                    & .card-title {
                        position: absolute;
                        color: var(--academic-card-title-color);
                        left: 54px;
                        font-size: 16px;
                    }

                    & .card-body {
                        position: absolute;
                        color: var(--academic-card-content-color);
                        top: 64px;
                        left: 90px;
                        margin-top: 20px;

                        & p {
                            font-size: 16px;
                            & >fa-icon {
                                color:var(--academic-card-content-icon-color)
                            }
                        }
                    }
            
                    & .card-circle {
                        background-color: var(--academic-card-circle-bg-color);
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        position: absolute;
                    }
                }
            }
        }
    }

    & .experience-details {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;
            & .title {
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: var(--experience-title-color);
                }
            }

            & .row {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 20px;
                & .card-container {
                    overflow: hidden;
                    position: relative;
                    max-width: 18em;
                    min-height: 12em;
                    box-shadow: 0 0 15px var(--experience-card-container-box-shadow-1-color);
                    border-radius: 4px;
                    margin-left: 18px;
            
                    &:before {
                        position: absolute;
                        margin: -2em;
                        padding: 2.25em;
                        border-radius: 50%;
                        box-shadow: 0 0 0 302px var(--experience-card-container-box-shadow-2-color);
                        content: ''
                    }

                    & .card-title {
                        position: absolute;
                        color: var(--experience-card-title-color);
                        left: 54px;
                        font-size: 16px;
                    }

                    & .card-body {
                        position: absolute;
                        color: var(--experience-card-content-color);
                        top: 42px;
                        left: 18px;
                        margin-top: 20px;

                        & p {
                            font-size: 16px;
                            & >fa-icon {
                                color:var(--experience-card-content-icon-color)
                            }
                        }
                    }
            
                    & .card-circle {
                        background-color: var(--experience-card-circle-bg-color);
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        position: absolute;
                    }
                }
            }
        }
    }

    & .projects {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;
            & .title {
                margin-bottom: 50px;
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: var(--project-title-color);
                }
            }
            & .row { 
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 14px;

                & .card-container {
                    max-width: 18em;
                    min-height: 12em;
                    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
                    border-radius: 4px;
                    margin-left: 18px;
                    background-color: var(--project-card-container-bg-color);

                    &.zoom-in {
                        transform: scale(1.1,1.1);
                        transition-duration: 3s;
                        background-color: var(--project-card-zoomin-bg-color);
                    }

                    &.zoom-out {
                        transform: scale(1,1);
                        transition-duration: 3s;
                        background-color: var(--project-card-container-bg-color);
                    }

                    & .card-title {
                        color: var(--project-card-title-color);
                        font-size: 16px;
                        padding: 20px 20px 0;
                        display: flex;
                        justify-content: space-between;

                        & h3 {
                            margin: 0;
                        }

                        & fa-icon {
                            cursor: pointer;
                            color: var(--project-card-expand-collapse-icon-color);
                        }

                        &.zoom-in { 
                            color: var(--project-card-zoomin-title-color);
                            & fa-icon {
                                color: var(--project-card-zoomin-expand-collapse-icon-color);
                            }
                        }
                    }

                    & .card-body {
                        &.zoom-in { 
                            color: var(--project-card-zoomin-content-color);
                        }
                        color: var(--project-card-content-color);
                        & .technologies {
                            & ul {
                                list-style: none;
    
                                & fa-icon {
                                    padding-right: 4px;
                                    color: var(--project-card-expand-collapse-icon-color);
                                    &.zoom-in { 
                                        color: var(--project-card-zoomin-expand-collapse-icon-color);
                                    }
                                }
                            }
                        }
                        & .content {
                            padding: 0 10px 0 10px;
                            height: 100px;
                            overflow-y: auto;
                        }
                    }
                }

            }
        }
    }

    & .skills {
        padding: 80px 0;
        & .container {
            max-width: 1270px;
            margin: auto;

            & .title {
                margin-bottom: 50px;
                & > h1 {
                    font-size: 30px;
                    text-align: center;
                    color: var(--skills-title-color);
                }
            }

            & .row {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-gap: 94px;

                & .square {
                    height: 120px;
                    width: 120px;
                    position: relative;
                    // animation: spin 30s linear infinite;
                    margin-left: 90px;

                    & .skill-circle {
                        position: absolute;
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #fff;

                        &:nth-child(1){
                            background-color: var(--skills-first-child-color);
                            left: -40px;
                        }

                        &:nth-child(2){
                            background-color: var(--skills-second-child-color);
                            right: -40px;
                        }

                        &:nth-child(3){
                            background-color: var(--skills-third-child-color);
                            bottom: -40px;
                            left: 34px;
                        }
                    }
                }
            }
        }
    }
}
// 300*560 - end


// 375*665 - start
@media screen and (min-width: 375px) {
    .profile-v2-container {
        grid-template-rows: 84vh 120vh 120vh 285vh 150vh;

        & .home-section { 
            & .container {
                & .row {
                    & .picture {
                        padding: 60px 0 0 98px;
                    }
                }
            }
        }
    
        & .academic-details {
            & .container {
                & .row {
                    & .card-container {
                        margin-left: 48px;
                    }
                }
            }
        }
    
        & .experience-details {
            & .container {
                & .row {
                    & .card-container {
                        margin-left: 48px;
                    }
                }
            }
        }
    
        & .projects {
            & .container {
                & .row { 
    
                    & .card-container {
                        max-width: 20em;
                        margin-left: 34px;
                    }
    
                }
            }
        }
    
        & .skills {
            & .container {
                & .row {
    
                    & .square {
                        margin-left: 130px;
                    }
                }
            }
        }
    }
}
// 375*665 - end

// 375*665 - start
// .profile-v2-container {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 84vh 120vh 120vh 285vh 150vh;
//     background-color: var(--background-color);

//     & .header {
//         border-bottom: 1px solid var(--header-bottom-border-color);
//         z-index: 99;
//         position: fixed;
//         top: 0;
//         width: 100%;
//         background-color: var(--header-color);
        

//         & > .left-section {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             & > h1 {
//                 margin: 10px 0 10px 10px;
//                 color: var(--header-title-color);
    
//                 & > span {
//                     float: left;
//                     margin-right: 8px;
//                 }
//             } 
//         }

//         & .theme-switch-wrapper {
//             margin-right: 4px;
//             & fa-icon {
//                 & [data-icon="sun"] {
//                     font-size: 24px;
//                     color: var(--header-sun-icon-color);
//                 }
//                 & [data-icon="moon"] {
//                     font-size: 20px;
//                     color: var(--header-moon-icon-color);
//                 }
//             }

//             & .mat-slide-toggle {
//                 margin: 0 6px;
//                 &.mat-checked {
//                     & .mat-slide-toggle-bar {
//                         background-color: var(--header-theme-toggle-bg-color);
//                     }
//                     & .mat-slide-toggle-thumb {
//                         background-color: var(--header-theme-thumb-color);
//                     }
//                 } 
//             }
//         }

//         & >nav {
//             & > ul {
//                 justify-items: center;
//                 list-style: none;
//                 padding-left: 20px;
    
//                 & > li {
//                     padding: 8px;
//                     & > a {
//                         text-transform: uppercase;
//                         font-size: .8571em;
//                         text-decoration: none;
//                         color: var(--nav-content-color);
//                     }
//                 }
               
//             }

//             height: 0px;
//             transition: all 2s;
//             overflow: hidden;

//             &.show-menu {
//                 height: 185px;
//                 transition: all 2s;
//             }
//         }

        
//     }

//     & .home-section {
//         & .container {
//             max-width: 1270px;
//             margin: auto;

//             & .row {
//                 padding: 10px;
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: center;

//                 & .name {
//                     width: 100%;
//                    & h1 {
//                         font-size: 50px;
//                         color: var(--home-name-header-color);
//                         position: relative;
//                         margin-bottom: 0;

//                         &::after {
//                             content: '';
//                             position: absolute;
//                             left: 0;
//                             width: 86%;
//                             height: 2px;
//                             background-color: var(--home-name-underline-color);
//                             bottom: 4px;
//                         }
//                     }
                    
//                     & h2 {
//                         font-size: 24px;
//                         font-weight: 300;
//                         color: var(--home-name-subscript-color);
//                         margin: 0 24px;
//                     }

//                     & p {
//                         font-size: 20px;
//                         color: var(--home-content-color);
//                     }
//                 }

//                 & .picture {
//                     padding: 60px 0 0 98px;
//                     & img {
//                         width: 60%;
//                         animation: zoom 7s linear infinite;
//                     }
//                 }
//             }
//         }
//     }

//     & .academic-details {
//         padding: 80px 0;
//         & .container {
//             max-width: 1270px;
//             margin: auto;
//             & .title {
//                 & > h1 {
//                     font-size: 30px;
//                     text-align: center;
//                     color: var(--academic-title-color);
//                 }
//             }

//             & .row {
//                 display: grid;
//                 grid-template-rows: 1fr 1fr 1fr;
//                 grid-template-columns: 1fr;
//                 grid-gap: 20px;
//                 & .card-container {
//                     overflow: hidden;
//                     position: relative;
//                     max-width: 18em;
//                     min-height: 12em;
//                     box-shadow: 0 0 15px var(--academic-card-container-box-shadow-1-color);
//                     border-radius: 4px;
//                     margin-left: 48px;
            
//                     &:before {
//                         position: absolute;
//                         margin: -2em;
//                         padding: 2.25em;
//                         border-radius: 50%;
//                         box-shadow: 0 0 0 302px var(--academic-card-container-box-shadow-2-color);
//                         content: ''
//                     }

//                     & .card-title {
//                         position: absolute;
//                         color: var(--academic-card-title-color);
//                         left: 54px;
//                         font-size: 16px;
//                     }

//                     & .card-body {
//                         position: absolute;
//                         color: var(--academic-card-content-color);
//                         top: 64px;
//                         left: 90px;
//                         margin-top: 20px;

//                         & p {
//                             font-size: 16px;
//                             & >fa-icon {
//                                 color:var(--academic-card-content-icon-color)
//                             }
//                         }
//                     }
            
//                     & .card-circle {
//                         background-color: var(--academic-card-circle-bg-color);
//                         border-radius: 50%;
//                         width: 40px;
//                         height: 40px;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         color: #fff;
//                         position: absolute;
//                     }
//                 }
//             }
//         }
//     }

//     & .experience-details {
//         padding: 80px 0;
//         & .container {
//             max-width: 1270px;
//             margin: auto;
//             & .title {
//                 & > h1 {
//                     font-size: 30px;
//                     text-align: center;
//                     color: var(--experience-title-color);
//                 }
//             }

//             & .row {
//                 display: grid;
//                 grid-template-rows: 1fr 1fr 1fr;
//                 grid-template-columns: 1fr;
//                 grid-gap: 20px;
//                 & .card-container {
//                     overflow: hidden;
//                     position: relative;
//                     max-width: 18em;
//                     min-height: 12em;
//                     box-shadow: 0 0 15px var(--experience-card-container-box-shadow-1-color);
//                     border-radius: 4px;
//                     margin-left: 48px;
            
//                     &:before {
//                         position: absolute;
//                         margin: -2em;
//                         padding: 2.25em;
//                         border-radius: 50%;
//                         box-shadow: 0 0 0 302px var(--experience-card-container-box-shadow-2-color);
//                         content: ''
//                     }

//                     & .card-title {
//                         position: absolute;
//                         color: var(--experience-card-title-color);
//                         left: 54px;
//                         font-size: 16px;
//                     }

//                     & .card-body {
//                         position: absolute;
//                         color: var(--experience-card-content-color);
//                         top: 42px;
//                         left: 18px;
//                         margin-top: 20px;

//                         & p {
//                             font-size: 16px;
//                             & >fa-icon {
//                                 color:var(--experience-card-content-icon-color)
//                             }
//                         }
//                     }
            
//                     & .card-circle {
//                         background-color: var(--experience-card-circle-bg-color);
//                         border-radius: 50%;
//                         width: 40px;
//                         height: 40px;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         color: #fff;
//                         position: absolute;
//                     }
//                 }
//             }
//         }
//     }

//     & .projects {
//         padding: 80px 0;
//         & .container {
//             max-width: 1270px;
//             margin: auto;
//             & .title {
//                 margin-bottom: 50px;
//                 & > h1 {
//                     font-size: 30px;
//                     text-align: center;
//                     color: var(--project-title-color);
//                 }
//             }
//             & .row { 
//                 display: grid;
//                 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
//                 grid-template-columns: 1fr;
//                 grid-gap: 14px;

//                 & .card-container {
//                     max-width: 20em;
//                     min-height: 12em;
//                     box-shadow: 0 0 15px rgb(0 0 0 / 20%);
//                     border-radius: 4px;
//                     margin-left: 34px;
//                     background-color: var(--project-card-container-bg-color);

//                     &.zoom-in {
//                         transform: scale(1.1,1.1);
//                         transition-duration: 3s;
//                         background-color: var(--project-card-zoomin-bg-color);
//                     }

//                     &.zoom-out {
//                         transform: scale(1,1);
//                         transition-duration: 3s;
//                         background-color: var(--project-card-container-bg-color);
//                     }

//                     & .card-title {
//                         color: var(--project-card-title-color);
//                         font-size: 16px;
//                         padding: 20px 20px 0;
//                         display: flex;
//                         justify-content: space-between;

//                         & h3 {
//                             margin: 0;
//                         }

//                         & fa-icon {
//                             cursor: pointer;
//                             color: var(--project-card-expand-collapse-icon-color);
//                         }

//                         &.zoom-in { 
//                             color: var(--project-card-zoomin-title-color);
//                             & fa-icon {
//                                 color: var(--project-card-zoomin-expand-collapse-icon-color);
//                             }
//                         }
//                     }

//                     & .card-body {
//                         &.zoom-in { 
//                             color: var(--project-card-zoomin-content-color);
//                         }
//                         color: var(--project-card-content-color);
//                         & .technologies {
//                             & ul {
//                                 list-style: none;
    
//                                 & fa-icon {
//                                     padding-right: 4px;
//                                     color: var(--project-card-expand-collapse-icon-color);
//                                     &.zoom-in { 
//                                         color: var(--project-card-zoomin-expand-collapse-icon-color);
//                                     }
//                                 }
//                             }
//                         }
//                         & .content {
//                             padding: 0 10px 0 10px;
//                             height: 100px;
//                             overflow-y: auto;
//                         }
//                     }
//                 }

//             }
//         }
//     }

//     & .skills {
//         padding: 80px 0;
//         & .container {
//             max-width: 1270px;
//             margin: auto;

//             & .title {
//                 margin-bottom: 50px;
//                 & > h1 {
//                     font-size: 30px;
//                     text-align: center;
//                     color: var(--skills-title-color);
//                 }
//             }

//             & .row {
//                 display: grid;
//                 grid-template-rows: 1fr 1fr 1fr;
//                 grid-template-columns: 1fr;
//                 grid-gap: 94px;

//                 & .square {
//                     height: 120px;
//                     width: 120px;
//                     position: relative;
//                     // animation: spin 30s linear infinite;
//                     margin-left: 130px;

//                     & .skill-circle {
//                         position: absolute;
//                         height: 70px;
//                         width: 70px;
//                         border-radius: 50%;
//                         display: flex;
//                         align-items: center;
//                         justify-content: center;
//                         font-size: 16px;
//                         color: #fff;

//                         &:nth-child(1){
//                             background-color: var(--skills-first-child-color);
//                             left: -40px;
//                         }

//                         &:nth-child(2){
//                             background-color: var(--skills-second-child-color);
//                             right: -40px;
//                         }

//                         &:nth-child(3){
//                             background-color: var(--skills-third-child-color);
//                             bottom: -40px;
//                             left: 34px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// 375*665 - end



@media screen and (min-width: 720px) { 
    .profile-v2-container { 
        grid-template-rows: 84vh 60vh 60vh 110vh 90vh;

        & .header {
            display: flex;
            justify-content: space-evenly;

           & > .left-section {
             & > h1 {
                margin: 20px 0;

                & > span {
                    display: none;
                }
             }
            }
            
            .theme-switch-wrapper {
                position: absolute;
                right: 0;
            }
            
            & >nav {
                &.show-menu {
                    height: auto;
                }

                & > ul {
                    display: grid;
                    grid-template-columns: repeat(5,2fr);
                }
            }
        }

        & .home-section { 
            & .container {
                & .row {
                    padding: 170px 0;
                    display: flex;
    
                    & .name {
                        width: 40%;
                       & h1 {
                            font-size: 50px;
                            position: relative;
                            margin-bottom: 0;
    
                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                width: 86%;
                                height: 2px;
                                bottom: 4px;
                            }
                        }
                        
                        & h2 {
                            font-size: 24px;
                            font-weight: 300;
                            margin: 0 72px;
                        }
                    }
    
                    & .picture {
                        & img {
                            animation: zoom 7s linear infinite;
                        }
                    }
                }
            }
        }

        & .academic-details {
            & .container {
                & .title {
                    margin: 50px;
                }
                & .row {
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    & .card-container {
                        max-width: 24em;
                        min-height: 14em;
                        box-shadow: 0 0 15px var(--academic-card-container-box-shadow-1-color);
                
                        &:before {
                            box-shadow: 0 0 0 432px var(--academic-card-container-box-shadow-2-color);
                        }
    
                        & .card-body {
                            left: 140px;
                        }
                    }
                }
            }
        }

        & .experience-details {
            & .container {
                & .row {
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 20px;

                    & .card-container {
                        max-width: 24em;
                        min-height: 14em;
                        box-shadow: 0 0 15px var(--experience-card-container-box-shadow-1-color);
                
                        &:before {
                            box-shadow: 0 0 0 432px var(--experience-card-container-box-shadow-2-color);
                        }
    
                        & .card-body {
                            left: 60px;
                        }
                    }
                }
            }
        }

        & .projects {
            & .container {
                & .row { 
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
    
                    & .card-container {
                        max-width: 24em;
                    }
    
                }
            }
        }

        & .skills {
            & .container {
                & .title {
                    margin: 84px;
                }

                & .row {
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 90px;
    
                    & .square {
                        margin-left: 125px;
                    }
                }
            }
        }
    }
}