<!--The content below is only a placeholder and can be replaced.-->
<div class='main-container'>
  <div class="profile">
    <nav id="nav">
      <ul>
        <li><a href="#academicDetails">Academic details</a></li>
        <li><a href="#professionalSummary">Professional Summary</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
      </ul>
    </nav>
  </div>
  <div id="academicDetails" class="academic-details">
    <div class="card">
      <div class="card-header">
        <fa-icon [icon]="faSchool"></fa-icon>
      </div>
      <div class="card-container">
        <div class="card-title">
          <p>Mount Saint Joseph Matriculation Higher Secondary School</p>
        </div>
        <div class="card-body">
          <p>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Trivannamalai
          </p>
          <p>
            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2009
          </p>
          <p>
            <fa-icon [icon]="faPercentage"></fa-icon> 84.4
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <fa-icon [icon]="faSchool"></fa-icon>
      </div>
      <div class="card-container">
        <div class="card-title">
          <p>Sri Vidhya Mandir Matriculation Higher Secondary School</p>
        </div>
        <div class="card-body">
          <p>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Uthangarai
          </p>
          <p>
            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2011
          </p>
          <p>
            <fa-icon [icon]="faPercentage"></fa-icon> 95.75
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <fa-icon [icon]="faGraduationCap"></fa-icon>
      </div>
      <div class="card-container">
        <div class="card-title">
          <p>SRM Valliammai Engineering college</p>
        </div>
        <div class="card-body">
          <p>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Chennai
          </p>
          <p>
            <fa-icon [icon]="faCalendarAlt"></fa-icon> 2009
          </p>
          <p>
            <fa-icon [icon]="faPercentage"></fa-icon> 76.4
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="professionalSummary" class="professional-summary">Professional Summary</div>
  <div id="experience" class="experience">
    <div class="experience-card timeline">
      <div class="container left">
        <div class="content">
          <p><em>June 2015</em> – Joined as <em>Assistant System Engineer Trainee</em> in TATA Consultancy Services,
            Chennai.</p>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <p><em>June 2016</em> – Promoted as <em>Assistant System Engineer</em> in TATA Consultancy Services, Chennai.</p>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <p><em>June 2017</em> – Promoted as <em>System Engineer</em> in TATA Consultancy Services, Chennai.</p>
        </div>
      </div>
    </div>
    <div class="experience-card timeline">
      <div class="container left">
        <div class="content">
          <p><em>August 2018</em> – Joined as <em>Associate</em> in Cognizant Technology Solutions, Chennai.</p>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <p><em>December 2018</em> – Worked as <em>Associate</em> in Cognizant Technology Solutions, Chennai.</p>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <p><em>07 November 2019</em> – Worked as <em>Associate</em> in Cognizant Technology Solutions, Chennai.</p>
        </div>
      </div>
    </div>
    <div class="experience-card timeline">
      <div class="container left">
        <div class="content">
          <p><em>11 November 2019</em> – Joined as <em>Software Analyst</em> in Agilysys, Chennai.</p>
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <p><em>May 2020</em> – Promoted as <em>Senior Software Analyst</em> in Agilysys, Chennai.</p>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <p><em>May 2020</em> – Working as <em>Senior Software Analyst</em> in Agilysys, Chennai.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="projects" class="projects">
    <mat-tab-group>
      <mat-tab label="CAFE">
        <div class="projects-card">
          <div>
            Commercial Agent Front End (CAFE)
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Merchant Wallet Interface">
        <div class="projects-card">
          <div>
            Merchant Wallet Interface
          </div>
        </div>
      </mat-tab>
      <mat-tab label="CBD Refunds">
        <div class="projects-card">
          <div>
            CBD Refunds
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Cash Online Virtual Wallet">
        <div class="projects-card">
          <div>
            Cash Online Virtual Wallet
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Merchant Wallet Back office">
        <div class="projects-card">
          <div>
            Merchant Wallet Back office
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ISRM Qualys">
        <div class="projects-card">
          <div>
            ISRM Qualys
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div id="skills" class="skills">Skills</div>
</div>